## INFO

- **Artist:** Some Band
- **Album:** Some Album
- **Genre(s):** Rock / Pop
- **Quality:** 320Kbps
- **Tracks:** 15
- **Format:** MP3
- **Released:** 2015

## DESCRIPTION

_This is the wonderful template of a great awesome album that is now being served via Bit-Torrent and indexed via the new age indexing site, [TorrDex](http://merlin.hackrz.org:1337/)! :D_
