#ibox_content { background: #000000; border-color: #54ff00; color: #e4ff00; font-family:"Courier New", Courier, monospace; font-size:12px; }
#ibox_wrapper { background: #222; border-color: #444; }
#ibox_footer_wrapper { left: 0; right: 0; top: 0; padding: 3px 10px; }
#ibox_footer_wrapper, #ibox_footer_wrapper a { color: #54ff00; background: #a200ff; }
#ibox_footer_wrapper a { color: #e4ff00; font-weight: bold; text-decoration: none; padding: 0 3px; }
#ibox_content { margin: 25px 0 0 0; padding: 10px; }