html, body { 
  background-color: #000000;
  color:#00aeff;
  font-family: Tahoma;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #54ff00;
    font-size:48px;
    font-family: "Arial Black";
    text-shadow:3px 3px 4px #444;
}


h3 { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #a200ff;
    font-size:18px;
    font-family: Verdana;
    text-shadow:3px 3px 4px #444;
}

a {
}
a:link, a:active, a:visited {
    color: #ff00ae;
    text-decoration: none;
    /*font-family:'Snippet';*/
    font-size:14px;
    text-shadow:3px 3px 4px #444;
}
 
a:hover {
    color: #e4ff00;
    text-decoration:underline overline;
    font-style:normal;
    font-weight:bold;
    /*font-family:'Snippet';*/
    font-size:14px;
}