/* Style for the main background */
html { 
  background: url(img/Background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#00aeff;
}

/* description HTML tages */
/* TODO : Add stuff for description HTML for torrents */
.torrent-desc {
    /* TODO */
}

/* navigation bar */
.table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.navbar li {
    float: left;
    margin-left: 10px;
}

.navbar a:link, .navbar a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    font-family:'Sigmar One';
    color: #54ff00;
    background-color: #a200ff;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-style: none;
    font-weight: bold;
}

.navbar a:hover, .navbar a:active {
    background-color: #00aeff;
    color:#ff00ae;
    font-style: none;   
}

/* style for drop down boxes (select) */
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #a200ff;
    /*width: 150px;*/
    border-radius: 3px;
    overflow: hidden;
    background-color: #54ff00;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#a200ff;
    padding: 5px;
    /*background: #54ff00 url("img/arrowdown.gif") no-repeat 90% 50%;*/
}

.select-style select {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#a200ff;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    /*outline: none;*/
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* pure css styling of input checkboxes/radio buttons */
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
  color: #a200ff;
  font-size: 16px;
  font-family: 'Atomic Age';
  text-shadow:3px 3px 4px #444;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(84,255,0);
  background-image :    -moz-linear-gradient(rgb(84,255,0),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(84,255,0),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(84,255,0),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(84,255,0),rgb(224,224,224));
  background-image :         linear-gradient(rgb(84,255,0),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(84,255,0));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(84,255,0));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(84,255,0));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(84,255,0));
  background-image :         linear-gradient(rgb(224,224,224),rgb(84,255,0));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(162,0,255);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(162,0,255);
  background-image :    -moz-linear-gradient(rgb(162,94,252),rgb(162,0,255));
  background-image :     -ms-linear-gradient(rgb(162,94,252),rgb(162,0,255));
  background-image :      -o-linear-gradient(rgb(162,94,252),rgb(162,0,255));
  background-image : -webkit-linear-gradient(rgb(162,94,252),rgb(162,0,255));
  background-image :         linear-gradient(rgb(162,94,252),rgb(162,0,255));
}

/* input text boxes */
input[type="search"] {
  background: #54ff00;
  color: #a200ff;
  display: block;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  padding: 5px;
  border: solid 1px #54ff00;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="search"]:focus {
  outline: none;
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

input[type="number"] {
  text-align: center;
  background: #54ff00;
  color: #a200ff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  padding: 5px;
  border: solid 1px #54ff00;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="number"]:focus {
  outline: none;
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

input[type="text"] {
  background: #54ff00;
  color: #a200ff;
  display: block;
  margin: 0;
  /*width: 100%;*/
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  padding: 5px;
  border: solid 1px #54ff00;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus {
  outline: none;
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

/* text area */
textarea {
  background: #54ff00;
  color: #a200ff;
  display: block;
  margin: 0;
  /*font-family: "Open Sans", sans-serif;*/
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  padding: 5px;
  border: solid 1px #54ff00;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
textarea:focus {
  outline: none;
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

/* password text boxes */
input[type="password"] {
  background: #54ff00;
  color: #a200ff;
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  padding: 5px;
  border: solid 1px #54ff00;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="password"]:focus {
  outline: none;
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

/* fix the list items */
.feature_list ul {
   list-style-image: url('img/Bullet.png');
   vertical-align: middle;
}
.feature_list li { 
  margin: 3px; 
  padding: 3px; 
  color: #54ff00;
  text-shadow:2px 2px 3px #a200ff;
  font-family: 'Snippet';
  font-style: italic;
}

/* pre element style for comment */
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    line-height: 10px;
    font-family: 'Inconsolata';
    color: #fff;
}

/* style the input form buttons */
::-webkit-file-upload-button {
    border: 1px solid #54ff00;
    color: #54ff00;
    background: #a200ff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: normal;
    font-family: 'Sigmar One';
    font-size: 10px;
    text-shadow:3px 3px 4px #444;
}
::-webkit-file-upload-button:hover {
    border: 1px solid #a200ff;
    color: #a200ff;
    background: #54ff00;
    font-weight: bold;
    font-family: 'Sigmar One';
    font-size: 10px;
    text-shadow:3px 3px 4px #444;
}
::-ms-browse {
    border: 1px solid #54ff00;
    color: #54ff00;
    background: #a200ff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: normal;
    font-family: 'Sigmar One';
    font-size: 10px;
    text-shadow:3px 3px 4px #444; 
}
::-ms-browse:hover {
    border: 1px solid #a200ff;
    color: #a200ff;
    background: #54ff00;
    font-weight: bold;
    font-family: 'Sigmar One';
    font-size: 10px;
    text-shadow:3px 3px 4px #444;  
}

#submit, #toggle, #save {
    border: 1px solid #54ff00;
    color: #54ff00;
    background: #a200ff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: normal;
    font-family: 'Sigmar One';
    font-size: 18px;
    text-shadow:3px 3px 4px #444;
}
#submit:hover, #toggle:hover, #save:hover {
    border: 1px solid #a200ff;
    color: #a200ff;
    background: #54ff00;
    font-weight: bold;
    font-family: 'Sigmar One';
    font-size: 18px;
    text-shadow:3px 3px 4px #444;
}
#submit_small {
    border: 1px solid #54ff00;
    color: #54ff00;
    background: #a200ff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: normal;
    font-family: 'Sigmar One';
    font-size: 10px;
    text-shadow:3px 3px 4px #444;
}
#submit_small:hover {
    border: 1px solid #a200ff;
    color: #a200ff;
    background: #54ff00;
    font-weight: bold;
    font-family: 'Sigmar One';
    font-size: 10px;
    text-shadow:3px 3px 4px #444;
}


/* Style for the check user name shit and errors */
.taken, .error {
  color:#FE0001;
  font-weight: bold;
  font-family: 'Spirax';
  font-size:16px;
  text-shadow:3px 3px 4px #444;
}
.available {
  color:#54ff00;
  font-weight:bold;
  font-family: 'Spirax';
  font-size:16px;
  text-shadow:3px 3px 4px #444;
}

/* style for the linux inside */
#bottom{ 
  position: 
  fixed;
  right:0;
  bottom:0;
  transform:rotate(5deg);
}

/* Style for headings */
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #54ff00;
    font-size:48px;
    font-family: 'Sigmar One';
    text-shadow:3px 3px 4px #a200ff;
}


h3 { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	  color: #54ff00;
	  font-size:18px;
    font-family: Unlock;
    text-shadow:3px 3px 4px #a200ff;
}

/* Style for the links */
a {
}
a:link, a:active, a:visited {
    color: #ff00ae;
    text-decoration: none;
	font-family:'Snippet';
	font-size:14px;
    text-shadow:3px 3px 4px #444;
}
 
a:hover {
    color: #e4ff00;
    text-decoration:underline overline;
	font-style:normal;
	font-weight:bold;
	font-family:'Snippet';
	font-size:14px;
}

/* Sortable tables */
table.sortable thead {
    cursor: pointer;
}   

/* style for torrent table */
.rowcap { border:1px solid #54ff00;
 background:#a200ff;
 color:#54ff00;
 font-weight:bold;
/* letter-spacing:20px;*/
 padding:6px 4px 8px 10px;
 text-align:right;
 /*text-transform:uppercase;*/
 font-family:Unlock;
 font-size:18px;
 text-decoration:underline;
 vertical-align:middle;
 /*cursor:pointer;*/
}

.rowcap_author { border:1px solid #54ff00;
 background:#a200ff;
 color:#54ff00;
 font-weight:bold;
 padding:6px 4px 8px 10px;
 text-align: center;
 font-family:Aclonica;
 font-size:32px;
 text-shadow:3px 3px 4px #444;
 vertical-align:middle;
}

.sidecol_author {
 background:#54ff00;
 color:#a200ff;
 padding:3px 10px 3px 10px;
 text-align:left;
/* text-transform:uppercase;*/
 font-size:24px;
 font-family: 'Sigmar One';
 /*text-shadow:3px 3px 4px #444;*/
}

.rowdata { border:1px solid #a200ff;
 padding:3px 10px 3px 10px;
 text-align:left;
/* text-transform:uppercase;*/
 font-size:14px;
 font-family: Merriweather;
 vertical-align:middle;
}

.rowdata:hover {
	background:#666;	
}

/* Style for the main table */
table.mytable { background:#101010 ;
 border:1px solid #a200ff;
 /*border-collapse:collapse;*/
 color:#00aeff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
 vertical-align:middle;
 /*(white-space: nowrap;*/
 opacity:0.9;
 filter:alpha(opacity=90);
 table-layout:fixed;
 position:absolute;
 top:45%;
 left:50%;
 margin-top:-375px; /* this is half the height of your div*/  
 margin-left:-620px; /*this is half of width of your div*/
}
caption { border:1px solid #54ff00;
 background:#a200ff;
 color:#54ff00;
 font-weight:bold;
/* letter-spacing:20px;*/
 padding:6px 4px 8px 0px;
 text-align:center;
 /*text-transform:uppercase;*/
 font-family:Aclonica;
 font-size:32px;
 text-shadow:3px 3px 4px #444;
}
td.mytable, th.mytable { color:#000000;
 padding:.4em;
 vertical-align:middle;
 border:1.5px solid #454545;
}
tr.mytable { border:1.5px solid #454545;
}
thead th, tfoot th { background:#54ff00;
 color:#a200ff;
 padding:3px 10px 3px 10px;
 text-align:left;
/* text-transform:uppercase;*/
 font-size:24px;
 font-family: Unlock;
 text-shadow:3px 3px 4px #444;
}
tbody th.mytable, tbody td.mytable { 
 /* text-align:center; */
 vertical-align:middle;
 color:#00aeff;
}
tfoot td.mytable { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
}